{% extends "main.html.twig" %}


{% block content %}
<div class="row">
<div class="col-md-12">
<section class="content">
<div class="a"><h2> boodschappenlijst </h2></div>
{% for record in data %}
<ul>
<li><h2>{{record.naam}}</h2>
{{record.omschrijving}} 
<form style="margin: 0; padding: 0"><div class="b" style="padding-right: 30px;"><input type="number" id="quantity"name="quantity" value="{{record.boodschappen_totaal}}" style="width: 50px; display: inline;"></form> *
<i class="fas fa-euro-sign" style="color: #dc3439;"></i> {{record.prijs}} 
<i class="fas fa-trash-alt" style="color: #dc3439;"></i></div>
</li>
</ul>
{% endfor %}
<div class="b" style="padding-right: 50px;">
Totaalprijs: <i class="fas fa-euro-sign" style="color: #dc3439;"></i> {{ data.0.totaal_prijs }}
</div>
</section>
</div>
</div>

{% endblock %}