{% extends "main.html.twig" %}

{% block header %}
<img src="assets/img/logo-v2.png"/>
{% for record in data %}

    <div class="menu">
        <div class="menu-trigger"> <i class="fas fa-bars";></i>
            <div class="dropdown">
                
                    <img src="assets/img/logo-v2.png" style="height: 200px; width: 400px; float: left;"/>
                    <h2>
                    <a href=""><span class="menulinks">Mijn favorieten</span></a> 
                    <a href="http://localhost/educom-verrukkulluk-1699269573/index.php?user_id=1&action=boodschap"><span class="menulinks">Mijn boodschappenlijst</span></a>
                    
                    </h2>
                    
                </div>
            </div>
        </div>
    </div>
    
{% endfor %}
{% endblock %}

{% block content %}
{% for record in data %}
<div class="row">
<div class="col-md-12">
<section class="content">
<img src="{{ record.afbeelding }}" style="width: 300px; height: 100%; margin-right: 20px; float: left;">
<BR>
<span class="b";>
    <i class="fas fa-user-friends" style="color: #dc3439;"></i> 4 
    <i class="fas fa-euro-sign" style="color: #dc3439;"></i> {{record.prijs}}
    <i class="fas fa-fire" style="color: #dc3439;"></i> {{record.calories}} 
</span>
<BR>
<h2 style="display: inline";><span style="color:#95b82d";>{{record.titel}}</span></h2>
            <span class="rating" data-id="{{ record.id }}" style="float: right; padding-right: 20px;">
            <i class="fa fa-star fa-2x" data-index="0"></i>
            <i class="fa fa-star fa-2x" data-index="1"></i>
            <i class="fa fa-star fa-2x" data-index="2"></i>
            <i class="fa fa-star fa-2x" data-index="3"></i>
            <i class="fa fa-star fa-2x" data-index="4"></i>
            </span>

<BR><h3 style= "display: inline";><span style="color:#95b82d;"> Keuken: </span></h3>{{record.keuken_id.omschrijving}} <h3 style= "display: inline";><span style="color:#95b82d;" class="b"> Type: </span></h3> {{record.type_id.omschrijving}}
<BR>{{record.lange_omschrijving}}
<BR>
<h3><a href="http://localhost/educom-verrukkulluk-1699269573/index.php?gerecht_id={{record.id}}&user_id=1&action=oplijst"><ul class="buttoncontainer">Op Lijst</ul></a></h3>
<i class="far fa-heart fa-2x" data-id="{{ record.id }}" style="padding-right: 20px; float: right; margin-top: 5px";></i>
<BR>
</section>
</div>
</div>

<div class="row">
<div class="col-md-12">
<div class="tabs">
	<ul class="tab-links">
		<li class="active"><a href="#tab1">Ingrediënten</a></li>
		<li><a href="#tab2">Bereidingswijze</a></li>
		<li><a href="#tab3">Opmerkingen</a></li>

	</ul>

	<div class="tab-content">
		<div id="tab1" class="tab active">
        <BR>
            <h3><span style='color: #6e8722'>Ingredienten</span></h3>
            {% for ingr in record.ingredient %}
            <ul>
            <li>
            <h3><span style='color: #6e8722'> {{ingr.naam}}</span></h3>
            {{ingr.omschrijving}} 
            <BR>Hoeveelheid: {{ingr.aantal}}
            
            </li>
            </ul>
            {% endfor %}
		</div>

		<div id="tab2" class="tab">
			<BR>
            <h3>Bereidingswijze</h3>
            {% for geri in record.gerecht_info_bereidingswijze %}
            
            <ul>
            <li>
            {{geri.nummeriekveld}}. {{geri.tekstveld}} 
            </li>
            </ul>
            {% endfor %}
		</div>

		<div id="tab3" class="tab">
			<BR>
            <h3>Opmerkingen</h3>
            {% for geri in record.gerecht_info_opmerking %}
            <ul>
            <li>
            {{geri.user_name}} {{geri.datum}} <BR> {{geri.tekstveld}}
            </li>
            </ul>
            {% endfor %}
		</div>
	</div>
</div>
</div>
</div>
{% endfor %}
<script>
        let gegeven_waardering = -1;

        $(document).ready(function() {
            resetStarColors();

            $('.fa-star').on('click', function () {
                const gegeven_waardering = parseInt($(this).data('index') + 1);
                const gerecht_id = $(this).closest('.rating').data('id'); 
                const url = `index.php?gerecht_id=${ gerecht_id }&action=waardering&aantal=${ gegeven_waardering }`;
				console.log(url);
                console.log('Clicked on star. gerecht_id:', gerecht_id, 'gegeven_waardering:', gegeven_waardering);
				$.ajax({
   					url: url,
					method: "GET",
					success: function(result) {}
				})	
            })

            $('.fa-star').mouseover(function() {
                resetStarColors();

                var huidige_waardering = parseInt($(this).data('index'));

                for (var i = 0; i <= huidige_waardering; i++)
                    $('.fa-star:eq(' +i+ ')').css('color', '#fdaf08');
            });

            $('.fa-star').mouseleave(function() {

                if (gegeven_waardering != -1) {
                    for (var i = 0; i <= gegeven_waardering; i++)
                        $('.fa-star:eq(' +i+ ')').css('color', '#fdaf08')
					}
				
            })
            
        });

        function resetStarColors() {
            $('.fa-star').css('color', 'gray');
        }
    </script>
{% endblock %}
