{# Opnemen van de "Main" file #}
{% extends "main.html.twig" %}


{% block header %}
<img src="assets/img/logo-v2.png"/>


    <div class="menu">
        <div class="menu-trigger"> <i class="fas fa-bars";></i>
            <div class="dropdown">
                
                    <img src="assets/img/logo-v2.png"/>
                    <h2>
                    <a href=""><span class="menulinks">Mijn favorieten</span></a> 
                    <a href=""><span class="menulinks">Mijn boodschappenlijst</span></a>
                    
                    </h2>
                    
                </div>
            </div>
        </div>
    </div>
    

{% endblock %}


{# nu de block content op in de main pagina vullen #}
{% block content %}
    {# Dit is commentaar #}

{# Loop #} 


    {% for record in data %}
        
        {%  if record.id is odd %}
            <div class="row">
        {%  endif  %}
        
            <div class="col-md-6">
            <section class="content">
            
            <img src="{{ record.afbeelding }}" style="width: 100%; height: 250px;">
            <div class="a">
            <h2><span style='color: #6e8722; display: inline'>  {{ record.titel }}</h2>
            <span style="font-size: 12px;">
        {% if record.beoordeling %}
        {% for i in range(1,5) %}
            {% if record.beoordeling >=  max(0, i-0.25) %}
                <i style="color: #fdaf08"; class="fas fa-star";></i>
            {% elseif (record.beoordeling > (i-0.75)) %}
                <i style="color: #fdaf08"; class="fas fa-star-half-alt";></i>
            {% else %}
                <i style="color: gray"; class="far fa-star";></i>
            {% endif %}
        {% endfor %}
        <i><b>{{ record.beoordeling|round(1, 'floor')  }}/5</b></i>
    {% else %}
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <span style="font-size: 12px"><b></b></span>
    {% endif %}
</span></span>
<br>
            {{record.korte_omschrijving}}
            </div>
            {# sub-loop #}
            <ul>
                {% for ingr in record.ingredient %}
                {% endfor %}
            </ul>
            
            
            <a href="http://localhost/educom-verrukkulluk-1699269573/index.php?gerecht_id={{record.id}}&action=detail"><ul class="buttoncontainer"><h3>Smullen!</h3> </ul></a>
            <span class="b">
            <i class="fas fa-user-friends" style="color: #dc3439;"></i> 4 
            <i class="fas fa-euro-sign" style="color: #dc3439;"></i> {{record.prijs}}
            <i class="fas fa-fire" style="color: #dc3439;"></i> {{record.calories}} 
            </span>
            </section>
            </div>
            
            {%  if record.id is even %}
            </div>
            <BR><BR>  
            {%  endif  %} 
            
    {% endfor %}


    
     {# Dump #}
       {#<pre>
        {{ dump(data) }}
       </pre>#}

{% endblock %}
